* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
